*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

KeyFrameTrajectory.txt
/Data/*
/build/*
/bin/*
/lib/*
/Thirdparty/DBoW2/build/*
/Thirdparty/DBoW2/lib/*
/Thirdparty/g2o/build/*
/Thirdparty/g2o/lib/*

*.IAB
*.IAD
*.IMD
*.IMB
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3